/* font-family: 'Cedarville Cursive', cursive;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Shadows Into Light', cursive; */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: floralwhite;
  }

  .jumboTest{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 70px;
  }

  .jumbotron{
    background-color: floralwhite;
  }

  .jumboTag{
    font-family: 'Cedarville Cursive', cursive;
    margin-top: 0px;
    font-size: 40px;
  }

  .quote{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 24px;;
  }
  
  .custom-navbar{
    background-color: #0D324D;
    padding: 8px;

  }

  .save-note {
    display: none;
  }
  
  .icons i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .note-textarea, .note-title {
    color: #000000;
    width: 100%;
    outline: none;
    border: none;
  }
  
  .note-textarea {
    resize: none;
    height: calc(100% - 63px);
    padding-top: 15px;
    background-color: floralwhite;
    padding-bottom: 100px;
  }
  
  .note-title {
    height: 50px;
    margin-top: 13px;
    font-size: 3rem;
    background-color: floralwhite;
  }
  
  .note-title:read-only, .note-textarea:read-only {
    color: #757575;
  }
  
  .list-container .card {
    height: calc(100vh - 70px);
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .list-container {
    padding-left: 0;
  }
  
  .list-container .list-group,
  .list-container .list-group-item:first-child,
  .list-container .card {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: floralwhite;
  }
  
  .list-container i {
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  .list-container .list-group-item {
    border-left: none;
    border-right: none;
    padding: 20px;
    cursor: pointer;
    background-color: floralwhite;
  }

  .page-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0D324D;
    text-emphasis: center;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 20px;
  }

  .btn-primary{
    background-color: #0D324D;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 24px;
  }
